/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --primary-color: hsl(146, 50%, 36%);
    --secondary-color: rgb(0, 0, 0);
    --terceary-color: #fff;
    --fourth-color: hsl(146, 50%, 32%);

    --nav-heigth: 12rem;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    
    background-color: var(--primary-color);

    background-attachment: fixed;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;

    height: 11.5rem;
}

.button {
    background-color: rgba(255, 255, 255, 0.150);
  
    border: none;
    border-radius: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  
    padding: 1.5rem 3rem;
    width: fit-content;
  
    text-transform: uppercase;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    letter-spacing: .2rem;
  
    text-decoration: none;
  
    transition: background 200ms;
}

ul {
    list-style: none;
}

section {
    padding-block: 8rem;
}
  
section header h4 {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.3rem;
  
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
  
section header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  
    color: #fff;
}
  
section header h1 {
    font-size: 2.3rem;
    color: #fff;
    line-height: 140%;
    font-weight: 500;
  
    margin-bottom: 1rem;
}
  
section .content p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
  
    color: #fff;
}

/* NAVIGATION */

nav {
    display: flex;
  
    height: var(--nav-heigth);
    width: 100vw;
  
    position: fixed;
    top: 0;
  
    z-index: 100;
}

nav .logo img {
    margin-top: .5rem;
    width: 10rem;
    height: 10rem;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background:hsl(146, 47%, 25%);
    transition: 0.2s;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}
  
nav .menu,
nav .close-menu {
    position: fixed;
}

/* MENU EXPANDED */

.list-style-item {
    background: rgba(255, 255, 255, 0.900);
    width: 22rem;

    display: inline-block;
    padding: .5rem 2rem;

    border-radius: 2rem;

    background-image: url();
}

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
  
    padding-top: var(--nav-heigth);
  
    transition: opacity 600ms;

}

.menu ul:nth-child(1) {

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  
    margin-top: 8rem;
  
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;

    margin-bottom: 7rem;
}
  
.menu ul li a {
    color: rgba(0, 0, 0, 0.850);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.menu ul li a:hover {
    filter: brightness(1.3);
}
    
.social-links {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
  
body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

/* HOME */

#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-heigth));
}

#home .slider {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-inline: auto;

    width: 40rem;
    max-width: 100%;
    height: 38rem;
    max-height: 100%;

    position: relative;
}

#home .slider img { 
    opacity: 0;
    position: absolute;

    border-radius: 1.5rem;

    width: 100%;
    height: 100%;

    margin-inline: auto;


    transition: opacity 800ms;
}

#home .slider img.selected {
    opacity: 1;
}

#home p {
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    color: #fff;
  
    margin-bottom: 3.2rem;
}

#home .stats {
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
    margin-top: 5rem;
  
    background-color: none;
    border: 1px solid #fff;
    border-radius: 1.5rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#home .stat h3 {
    font-size: 3rem;
    color: #fff;
    line-height: 100%;
  
    margin-bottom: 0.5rem;
}

  #home .stat p {
    margin: 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 150%;
    text-transform: uppercase;
}









 